body{
    box-sizing: border-box;
    margin: 0;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.lists{
    display: flex;
    gap: 1rem;
}
header{
    background-color: pink;
}
.lists li{
    list-style: none;
}
.lists li a{
    text-decoration: none;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}